.menu {
    background-color: black;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    height: 25px;
}

.menu ul li {
    margin-left: 16px;
    padding-right: 16px;
    color: lightgray;
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    transition: 300ms;
}

.menu ul li:hover {
    color: white;
}

@media(max-width: 500px) {
    .menu ul {
        display: flex;
        justify-content: center;
        height: 25px;
    }    
}